export CROSS_COMPILE=$(pwd)/../aarch64-linux-android-4.9/bin/aarch64-linux-android-
export LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=$(pwd)/../aarch64-linux-android-4.9/bin
export PATH=$PATH:$(pwd)/../aarch64-linux-android-4.9/bin
cd kernel
echo "possible commands are"
echo "make ARCH=arm64 FIRMWARE_sdm660_64_defconfig"
echo "make ARCH=arm64 xconfig"
echo 'time make ARCH=arm64 -j$(nproc)'




